{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Namcoss Attendace | About</title>
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <!-- HEADER -->
    <header id="main-header">
      <div class="container">
        <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h1><span class="primarys-text">Nam</span>coss</h1>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <nav id="navbar">
              <ul>
                <li><a href="{% static 'index.html' %}">Home</a></li>
                <li><a href="{% static 'attendance.html' %}">Attendace</a></li>
                <li class="current"><a href="{% static 'about.html' %}">About</a></li>
                <li><a href="{% static 'contact.html' %}">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- SUBHEADER -->
    <section id="subheader">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN PAGE -->
    <section id="page" class="about">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><span class="primary-text">Who</span> We Are</h2>
            <p>We provide quality ICT and computer Training with tools that get you started and measure your learning progress on one basids.</p>
            
            <hr>
            <h2><span class="primary-text">What</span> We Do</h2>
           <p>   <em> Computer applications packages</em></br>
                Training Basics To advanced computer skills with microsoft packages. Join our desktop publishing traninig today and learn all the ICT and computer skills you need in the office environment <br>
                <em> Graphics Design</em> <br>
                learn from creative professionals who gladly share there tips, techniques and workflows in some of the most widely used graphic design <br>
                <em> Web Development And Web Programing</em> <br>
                sing PHP, MYSQL and more! Your here because your are ready to start building Professional, career boosting based websites or maybe your are coding and you want take things to next level. 
           </p>
          </div>
        </div>
      </div>
    </section>

    <!-- COMPANY -->
    <section id="company">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Contact Us</h4>
            <ul>
              <li><i class="fa fa-phone"></i> +234 7037003464</li>
              <li><i class="fa fa-phone"></i> +234 706 1911 120</li>
              <li><i class="fa fa-envelope"></i>www.umgtechsolutions.com</li>
              <li><i class="fa fa-map"></i> national library katsina, katsina state</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>About Us</h4>
            <p>join UMG Tech. Solutions today to learn and know how to use the leatest technology in web development, graphics design, applications packages and lots more.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Newsletter</h4>
            <p>Change youe life today </p>
            <form>
              <input type="text" name="email" placeholder="Enter Email">
              <button type="submit" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

   <!-- FOOTER  -->
   <footer id="main-footer">
    <div class="container">
      <div class="row center-xs center-sm center-md center-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>Copyright &copy; 2020 | <span><img src="{% static '../logoumg.png' %}" width="10px" height="7px"></span> UMG Tech Solitions</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
