{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NAMCOSS ATTENDANCE | Attendance</title>
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconsfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconsfont.min.css' %}">
    <style>
      table, th, td {
        border: 1px solid grey;
        color: black;
      }
      </style>
  </head>
  <body>
    <!-- HEADER -->
    <header id="main-header">
      <div class="container">
        <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h1><span class="primarys-text">NAM</span>COSS</h1>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <nav id="navbar">
              <ul>
                <li><a href="/index">Home</a></li>
                <li  class="current"><a href="/current">Current</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- MAIN PAGE -->
    <section id="page" class="about" style="background-color:rgb(203, 223, 201) ">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table" style="width:50%" >              
                <thead>  <tr>
                  <th>NAME</th>
                  <th>REGNO</th>
                </tr>
                <tr>
                {% for obj in info %}
                  <td>{{obj.Name}}</td>
                  <td>{{obj.Regno}}</td>
                </tr>
                {% endfor %}
                    </tbody>
                    
            </table>            
        </div>
      </div>
      <button type="submit" id="print-button" name="button"><a href="/pdf" style="color: rgb(203, 223, 201);">SAVE </a></button>

    </section>
    
    <!-- COMPANY -->
    <section id="company">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Contact Us</h4>
            <ul>
              <li><i class="fa fa-phone"></i> +234 703 7003 464</li>
              <li><i class="fa fa-phone"></i> +234 706 1911 120</li>
              <li><i class="fa fa-envelope"></i>www.umgtechsolutions.com</li>
              <li><i class="fa fa-map"></i> national library katsina, katsina state</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>About Us</h4>
            <p>join UMG Tech. Solutions today to learn and know how to use the leatest technology in web development, graphics design, applications packages and lots more.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Newsletter</h4>
            <p>Change youe life today </p>
            <form>
              <input type="text" name="email" placeholder="Enter Email">
              <button type="submit" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

   <!-- FOOTER  -->
   <footer id="main-footer">
    <div class="container">
      <div class="row center-xs center-sm center-md center-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>Copyright &copy; 2020 | <span><img src="../logoumg.png" width="10px" height="7px"></span> UMG Tech Solitions</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
