<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAMCOSS ATTENDANCE | Table</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
          }
        #header-name{
            text-align: center;
            font-size: 20px;
        }
        #student-align{
            font-size: 15px;
        }
        

    </style>
</head>
<body>
<h1 id="header-name">Al-Qalam University Katsina<br><span id="student-align">Students Attendance</span></h1>
<h2></h2>
    <table class="table" style="width:100%" >

          <thead>  
            <tr>
            <th>NAME</th>
            <th>REGNO</th>
          </tr>

          <tr>
            <td>{{info.data}}</td>
            <td>{{info.data}}</td>
          </tr>
              </tbody>
              
      </table>
    
</body>
</html>